@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ms-auto align-items-center">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item me-3">
            <span class="nav-link text-white">
                @User.Identity?.Name
            </span>
        </li>

        <li class="nav-item">
            <form method="post" asp-area="Identity" asp-page="/Account/Logout" class="d-inline">
                <button type="submit" class="btn btn-link nav-link px-0" style="color:#ffb3b3;">
                    <i class="bi bi-box-arrow-right me-1"></i> Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Log in</a>
        </li>

        <li class="nav-item">
            <a class="btn btn-outline-primary ms-2"
               asp-area="Identity"
               asp-page="/Account/Register">
                Register
            </a>
        </li>
    }
</ul>
